package template

import (
    layout "gohtmx/web/template/layout"
    component "gohtmx/web/template/component"
)

templ HomePage(){
    @layout.MainLayout("Home") {
        @component.LoginComponent()
    }
}