package template

import (
    layout "gohtmx/web/template/layout"
    form "gohtmx/web/template/component/form"
    static "gohtmx/web/template/component/static"
	"gohtmx/internal/entity"
)

templ HomePage(panels []*entity.PanelSession){
    @layout.MainLayout("GSA - Panel") {
        if len(panels) == 0 {
            @form.AddPanelForm()
        } else {
            @static.AppHeader()
            <main class="flex flex-1 min-h-0">
                @static.Sidebar()
                <content id="pageView" hx-swap="outerHTML" hx-trigger="load" hx-get="/partial/fragment/providers" class="flex flex-col flex-1 min-h-0"></content>
            </main>
        }
    }
}