package template

import (
    layout "gohtmx/web/template/layout"
    component "gohtmx/web/template/component/form"
	"gohtmx/internal/entity"
)

templ HomePage(panels []*entity.PanelSession){
    @layout.MainLayout("Panel") {
        if len(panels) == 0 {
            @component.AddPanelForm()
        }
    }
}