package template

import (
    layout "gohtmx/web/template/layout"
    component "gohtmx/web/template/component"
)

templ LoginPage() {
    @layout.MainLayout("GSA - Login") {
        @component.LoginForm()
    }
}